nav {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

a {
    color: white;
}

.tweet {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
   
}

.timeline {
   max-width: 600px;
   margin: 0 auto;
}

h2 {
    padding-left: 12px;
}
